<!-- Code found on https://github.com/danweller18/devise/wiki/Allow-Users-to-View-Profile-and-List-All-Users
     And in Ruby on Rails Tutorial by Michael Hartl https://www.railstutorial.org/book/updating_and_deleting_users -->

<div class="history">
    <h2>Users</h2>
  
    <ul class ="users"> 
        <% @users.each do |user| %>
        <li>
          <%= user.name %><br/>
          <%= user.delivery_address %><br/>
          <%= user.email %>
          <%= link_to "Delete Registered User",admin_destroy_user_path(user), method: :delete %>
           <!--Destroy User Code found at Stack Overflow http://stackoverflow.com/questions/16289299/rails-how-to-destroy-users-created-under-devise-->
        </li>
         
        <% end %>
    </ul> 
  <%= will_paginate @users %>
</div>