<div class ="history">
    <h2><%= @user.name %>'s Profile </h2>
    <ul class="profile">
     <li class="profile">Name: <%= @user.name %></li>
     <li class="profile">Delivery Address: <%= @user.delivery_address %></li>
     <li class="profile">Email: <%= @user.email %></li>
     <li><%= link_to "Edit Profile", '#' %></li>
    </ul>
</div>

<!--Edit profile and displaying the cart at the same time would not work. before_action set_cart did
    not work with devise controllers -->