<!--html for header that appears on all pages--> 

<ul class="navbar">
				<li><%= link_to "Home", root_path %></li>
				<div class="dropdown">
				<span><li><a id="shop" href='#'>Shop</a></li></span>
					<div class="drop-links">
						<%= link_to "Occassions", '#' %>
						<%= link_to "Bouquets", '#' %>
						<%= link_to "Custom", '#' %>
					</div>
				</div>
				<li><%= link_to "About", root_path(anchor: 'about') %></li>
				<li><%= link_to "Contact", root_path(anchor: 'contact') %></li>
				<li><a id="signIn" href='#'>Sign In</button></a></li>
		</ul>
		<!--W3Schools Example on Modal Boxes http://www.w3schools.com/howto/howto_css_modals.asp -->
		<div id="login" class="modal">
			<div class="formBox">
				<div id="tabBox">
					<a href="#" id="si" class="tab">Sign In</a>
					<a href="#" id="su" class="tab">Register</a>
				</div>
				<form id = "lForm" name="lForm" action="">	
					<input class = "formInput" name="email" type="email" placeholder="Email" value="">
					<input class = "formInput" name="psw" type="password" placeholder="Password" value="">
					<button onclick="validate()">Sign In</button>
				</form>

				<form id="rForm" name="rForm" action="">
					<input class = "formInput" name="fullname" type="text" placeholder="Full Name" value="">
					<textarea class = "formInput" name="address" type="textarea" rows="3" cols="10" placeholder="Delivery Address" value=""></textarea>
					<input class = "formInput" name="email" type="email" placeholder="Email" value="">
					<input class = "formInput" name="psw" type="password" placeholder="Create Password">
					<button onclick="validate2()">Register</button>
				</form>

			</div>

		</div>