<!--html for header that appears on all pages--> 

<ul class="navbar">
				<li><%= link_to "Home", root_path %></li>
				<div class="dropdown">
				<span><li><a id="shop" href='#'>Shop</a></li></span>
					<div class="drop-links">
						<%= link_to "Occassions", root_path(anchor: 'occ') %>
						<%= link_to "Bouquets", bouquet_path %>
						<%= link_to "Custom", custom_path %>
					</div>
				</div>
				<li><%= link_to "About", root_path(anchor: 'about') %></li>
				<li><%= link_to "Contact", root_path(anchor: 'contact') %></li>
				<% if user_signed_in? %>
				<li><%= link_to 'Profile', edit_user_registration_path %></li>
				<li><%= link_to'Logout', destroy_user_session_path %></li>
				<% else if admin_signed_in? %>
				<li><%= link_to 'Users', users_path %></li>
				<li><%= link_to'Logout', destroy_admin_session_path %></li>
				<% else %>
				<li><%= link_to 'Register', new_user_registration_path %></li>
				<li><%= link_to 'Sign In',	new_user_session_path %></li>
				<% end %>
				<% end %>
		</ul>
		<!--W3Schools Example on Modal Boxes http://www.w3schools.com/howto/howto_css_modals.asp -->
